In [1]:
import pandas as pd

In [2]:
# import csv files
jan = pd.read_csv("Data/JanFeb/Jan_2021.csv")
feb = pd.read_csv("Data/JanFeb/Feb_2021.csv")

In [3]:
# concatinate them
jan_feb = pd.concat([jan,feb],ignore_index = True)

In [4]:
jan_feb.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [5]:
# rename the columns to fit the other datasets
jan_feb.rename(columns = {"starttime":"started_at","stoptime":"ended_at","start station id":"start_station_id","start station name":"start_station_name","start station latitude":"start_lat","start station longitude":"start_lng","end station id":"end_station_id","end station name":"end_station_name","end station latitude":"end_lat","end station longitude":"end_lng"},inplace=True)

In [6]:
# drop columns that arent needed
jan_feb.drop(["tripduration","bikeid","birth year","gender"],axis=1,inplace = True)

In [7]:
jan_feb.head()

,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,usertype
0,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,Subscriber
1,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,Subscriber
2,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,Subscriber
3,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,Subscriber
4,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,Subscriber

In [8]:
# jan_feb.loc[jan_feb["usertype"]=="Subscriber", "member_casual"] = "Member"
jan_feb.loc[jan_feb['usertype']== "Subscriber", 'member_casual'] = 'member'

In [9]:
# add columns that are needed 
jan_feb.loc[jan_feb['usertype']== "Subscriber", 'member_casual'] = 'member'
jan_feb.loc[jan_feb["usertype"]=="Customer", "member_casual"] = "casual"
jan_feb["ride_id"] = "unknown"
jan_feb["rideable_type"] = "unknown"
jan_feb.drop("usertype",axis=1,inplace=True)

In [10]:
# write to csv
jan_feb.to_csv("Data/jan_feb_clean.csv",index= False)

In [11]:
jan_feb.columns

Index(['started_at', 'ended_at', 'start_station_id', 'start_station_name',
       'start_lat', 'start_lng', 'end_station_id', 'end_station_name',
       'end_lat', 'end_lng', 'member_casual', 'ride_id', 'rideable_type'],
      dtype='object')

In [14]:
jan_feb["member_casual"].unique()

array(['member', 'casual'], dtype=object)